/* black */
$color0:       #272F3F;
$color8:       #1E2529;

/* red */
$color1:       #ED3861;
$color9:       #ED3861;

/* green */
$color2:       #00B0AA;
$color10:      #00B0AA;

/* yellow */
$color3:       #a6a663;
$color11:      #bfc271;

/* blue */
$color4:       #408AA3;
$color12:      #647396;

/* orange */
$color5:       #F1B372;
$color13:      #F1B372;

/* cyan */
$color6:       #00B0AA;
$color14:      #5498C4;

/* white */
$color7:       #c0c5ce;
$color15:      #eff1f5;

