* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
}

body {
    background: #2B303B;
    color: #d7d0c7;
    font-family: 'Futura-Bold', sans-serif;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

a {
    color: #797979;
    text-decoration: none;
}

a:visited {
    color: #87EDA4;
}

a:hover {
    color: #87EDA4;
}

body.load {
    opacity: 1;
}

input {
    background: #1a1d20;
    padding: 1%;
    margin: 1%;
    transition: background 1s;
    color: #ffffff;
    font-family: inherit;
}

@media screen and (min-width: 990px) {
    input {
        font-size: 0.95em;
        -webkit-transition: background 1s;
        -moz-transition: background 1s;
        -ms-transition: background 1s;
        transition: background 1s;
        width: 30%;
        position: relative;
    }
    .container {
        margin: auto;
        width: 70%;
        height: 60%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    div#container-links {
        height: 50%;
        text-align: center;
    }
    div#container-search {
        height: 50%;
    }
    input:focus {
        background: #232730;
        color: #87EDA4;
    }
    .link {
        font-size: 1.1em;
        padding: 1em;
        margin: 1em;
        width: 28%;
        text-align: center;
        position: relative;
        top: 45%;
    }
}

@media screen and (max-width: 989px) {
    .link {
        width: 50%;
        text-align: center;
        font-size: 1.5em;
    }
    .link:nth-child(odd) {
        float: left;
    }
    .link:nth-child(even) {
        float: right;
    }
    input {
        width: 98%;
        padding: 3%;
        font-size: 1em;
    }
}
